.footer {
  background-color: #007a33;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: Arial, sans-serif;
  font-size: 1rem;
}